<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_bun_again.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{99,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,94}}</string>
			<key>sourceSize</key>
			<string>{99,94}</string>
		</dict>
		<key>m_bun_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1},{99,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,94}}</string>
			<key>sourceSize</key>
			<string>{99,94}</string>
		</dict>
		<key>m_bun_close_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,1},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>m_bun_list.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,1},{99,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,94}}</string>
			<key>sourceSize</key>
			<string>{99,94}</string>
		</dict>
		<key>m_bun_next_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,96},{124,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,118}}</string>
			<key>sourceSize</key>
			<string>{124,118}</string>
		</dict>
		<key>m_bun_pause_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,215},{107,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,112}}</string>
			<key>sourceSize</key>
			<string>{107,112}</string>
		</dict>
		<key>m_indicator2.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,96},{182,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,238}}</string>
			<key>sourceSize</key>
			<string>{182,238}</string>
		</dict>
		<key>m_monster_g1_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,328},{80,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,102}}</string>
			<key>sourceSize</key>
			<string>{80,102}</string>
		</dict>
		<key>m_monster_g1_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,431},{80,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,102}}</string>
			<key>sourceSize</key>
			<string>{80,102}</string>
		</dict>
		<key>m_monster_g1_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,534},{80,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,102}}</string>
			<key>sourceSize</key>
			<string>{80,102}</string>
		</dict>
		<key>m_monster_g_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,637},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>m_monster_g_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,758},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>m_monster_g_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,879},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>m_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,96},{505,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{505,159}}</string>
			<key>sourceSize</key>
			<string>{505,159}</string>
		</dict>
		<key>m_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,96},{203,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,129}}</string>
			<key>sourceSize</key>
			<string>{203,129}</string>
		</dict>
		<key>m_star_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,335},{96,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,99}}</string>
			<key>sourceSize</key>
			<string>{96,99}</string>
		</dict>
		<key>s_bun_red_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,1},{135,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,68}}</string>
			<key>sourceSize</key>
			<string>{135,68}</string>
		</dict>
		<key>s_point.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,70},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>s_point_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,70},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>snow_packer.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>snow_packer.png</string>
	</dict>
</dict>
</plist>