<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_goal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>m_icon_fence.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>m_icon_gold_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,1},{49,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,50}}</string>
			<key>sourceSize</key>
			<string>{49,50}</string>
		</dict>
		<key>m_icon_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,1},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>m_skill1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,64},{93,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,71}}</string>
			<key>sourceSize</key>
			<string>{93,71}</string>
		</dict>
		<key>m_skill2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,136},{92,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,88}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>m_skill3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,64},{105,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,91}}</string>
			<key>sourceSize</key>
			<string>{105,91}</string>
		</dict>
		<key>m_snowball_roll_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1},{55,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,59}}</string>
			<key>sourceSize</key>
			<string>{55,59}</string>
		</dict>
		<key>m_star.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,156},{96,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,99}}</string>
			<key>sourceSize</key>
			<string>{96,99}</string>
		</dict>
		<key>m_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,1},{43,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{43,44}</string>
		</dict>
		<key>m_star1_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1},{43,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{43,44}</string>
		</dict>
		<key>m_star_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,256},{96,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,99}}</string>
			<key>sourceSize</key>
			<string>{96,99}</string>
		</dict>
		<key>m_string3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,225},{11,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,107}}</string>
			<key>sourceSize</key>
			<string>{11,107}</string>
		</dict>
		<key>m_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,156},{127,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,161}}</string>
			<key>sourceSize</key>
			<string>{127,161}</string>
		</dict>
		<key>s_bg_prop_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,156},{481,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{481,125}}</string>
			<key>sourceSize</key>
			<string>{481,125}</string>
		</dict>
		<key>s_bg_prop_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,318},{488,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,130}}</string>
			<key>sourceSize</key>
			<string>{488,130}</string>
		</dict>
		<key>s_character_title_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,1},{171,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,50}}</string>
			<key>sourceSize</key>
			<string>{171,50}</string>
		</dict>
		<key>s_character_title_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,1},{171,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,50}}</string>
			<key>sourceSize</key>
			<string>{171,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>snow_packer_new.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>snow_packer_new.png</string>
	</dict>
</dict>
</plist>